body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #003366;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo img {
    height: 60px;
    padding-left: 150px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
    text-align: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding-right: 15px;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.warning {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #003366;
    padding: 20px;
    border-radius: 8px;
}

.warning img {
    max-width: 100%;
    padding-right: 170px;
}

.login {
    background-color: #002244;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-right: 100px;
}

.login h1 {
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login form label {
    margin-bottom: 5px;
    color: #fff;
}

.login form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login form button {
    padding: 10px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login form button:hover {
    background-color: #002244;
}

.login a {
    color: #003366;
    text-decoration: none;
    margin-top: 10px;
}
